Package: com.shfdev.trolldropapp
Name: trolldropapp
Version: 0.0.1
Architecture: iphoneos-arm
Description: GUI for trolldrop
Maintainer: Sam Foxman <samfoxman320@gmail.com>
Author: Sam Foxman <samfoxman320@gmail.com>
Section: Fun
